.reactflow-container {
    position: relative;
    z-index: 99;
}

.reactflow-header {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
}

.reactflow-header button {
    margin-left: 10px;
}
.edgebutton:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
  }
  
.edgebutton-foreignobject body {
    background: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 32px;
}
  

.react-flow__attribution {
    display: none;
}